{% extends 'base.front.html.twig' %}

{% block button  %}
    <a class="btn-getstarted scrollto" href="app_logout">Logout</a>
    <a class="btn-getstarted scrollto" href="afficheA">Administration</a>

{% endblock %}

{% block body %}

    <section id="blog" class="blog"  >

        <div class="container" data-aos="fade-up" >

                <div class="row" >
                         {% for a in abonnement %}

                        <div class="col-lg-4" >

                            <article class="d-flex flex-column">

                                <div class="post-img">
                                    <img src="{{ asset ('uploads/images/' ~ a.image) }}"  style="width:500px ; height:500px" alt="" class="img-fluid">
                                </div>

                                <h2 class="title">
                                    <a href="blog-details.html">{{ a.nomabonnement }}</a>
                                </h2>

                                <div class="meta-top">
                                    <ul>
                                        <p>
                                            {{ a.price }}
                                        </p>

                                    </ul>
                                </div>

                                <div class="content">
                                    <p>
                                        {{ a.description }}
                                    </p>
                                </div>



                            </article>

                        </div   >
                        {% endfor %}
                </div>
                         <!-- End post list item -->

                        <!-- End post list item -->

                        <!-- End post list item -->

                        <!-- End post list item -->

                        <!-- End post list item -->

                        <!-- End post list item -->

                    </div     >

                    <!-- End blog posts list -->




    </section  >


{% endblock %}



