<form method="post" action="{{ path('app_offre_delete', {'idoffre': offre.idoffre}) }}" onsubmit="return confirm('Vous ete sur de supprimer cette offre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.idoffre) }}">
    <button class="btn">Delete</button>
</form>
